# LIVEAGENT
LIVEAGENT_API_KEY=
LIVEAGENT_REASSIGN_STATUS=N # N = New
WEBHOOK_SECRET=your-webhook-secret

# AUTO-ASSIGN CONFIGURATIONS
AUTO_ASSIGN_STORE=firestore
FIRESTORE_DATABASE_ID=your-firestore-database-id
AGENTS_SOURCE=firestore
FIRESTORE_COLLECTION_AGENT_CONFIG=your-collection-for-agent-configs
FIRESTORE_DOC_AGENT_CONFIG=carmax_agents
FIRESTORE_COLLECTION_AGENT_CONFIG_AUDIT=agent_config_audit
ADMIN_BEARER_TOKENS=replace-with-long-random-token
ADMIN_BEARER_TOKEN_MAP={"replace-with-long-random-token":"admin1@company.com"}
ADMIN_ALLOWED_PRINCIPALS=admin1@company.com,admin2@company.com
REASSIGN_AFTER_MINUTES=10
REASSIGN_MAX_ATTEMPTS=1
REASSIGN_ELIGBLE_STATUSES=C,A # C = Open, A = Answered

# GOOGLE CLOUD (JSON)
CREDENTIALS=
BQ_PROJECT_ID=
BQ_DATASET=
BQ_TABLE=
BQ_ENABLED= # true/false
